# Creating the ML Model for CMU’s admission system

## Load the data

In [45]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/student-mat.csv', sep=';')
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

## Preprocess the data
### Remove unneeded attributes

In [46]:
# We chose to remove all attributtes not relevant to the CMU setting.
# `school` is specific to the source data set, and the grades are also
# not relevant (we keep the last grade to know the expected prediction value)
df.drop(columns=['school', 'G1', 'G2'], inplace=True)
df

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3
0,F,18,U,GT3,A,4,4,at_home,teacher,course,...,no,no,4,3,4,1,1,3,6,6
1,F,17,U,GT3,T,1,1,at_home,other,course,...,yes,no,5,3,3,1,1,3,4,6
2,F,15,U,LE3,T,1,1,at_home,other,other,...,yes,no,4,3,2,2,3,3,10,10
3,F,15,U,GT3,T,4,2,health,services,home,...,yes,yes,3,2,2,1,1,5,2,15
4,F,16,U,GT3,T,3,3,other,other,home,...,no,no,4,3,2,1,2,5,4,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,M,20,U,LE3,A,2,2,services,services,course,...,no,no,5,5,4,4,5,4,11,9
391,M,17,U,LE3,T,3,1,services,services,course,...,yes,no,2,4,5,3,4,2,3,16
392,M,21,R,GT3,T,1,1,other,other,course,...,no,no,5,5,3,3,3,3,3,7
393,M,18,R,LE3,T,3,2,services,other,course,...,yes,no,4,4,1,3,4,5,0,10
394,M,19,U,LE3,T,1,1,other,at_home,course,...,yes,no,3,2,3,3,3,5,5,9

### Convert binary attributes to numerical attributes

In [47]:
df['sex'] = np.where(df['sex'] == 'F', 1, 0)
df['address'] = np.where(df['address'] == 'U', 1, 0)
df['famsize'] = np.where(df['famsize'] == 'LE3', 1, 0)
df['Pstatus'] = np.where(df['Pstatus'] == 'T', 1, 0)

for binary_attribute in ['schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic']:
    df[binary_attribute] = np.where(df[binary_attribute] == 'yes', 1, 0)

df

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3
0,1,18,1,0,0,4,4,at_home,teacher,course,...,0,0,4,3,4,1,1,3,6,6
1,1,17,1,0,1,1,1,at_home,other,course,...,1,0,5,3,3,1,1,3,4,6
2,1,15,1,1,1,1,1,at_home,other,other,...,1,0,4,3,2,2,3,3,10,10
3,1,15,1,0,1,4,2,health,services,home,...,1,1,3,2,2,1,1,5,2,15
4,1,16,1,0,1,3,3,other,other,home,...,0,0,4,3,2,1,2,5,4,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,0,20,1,1,0,2,2,services,services,course,...,0,0,5,5,4,4,5,4,11,9
391,0,17,1,1,1,3,1,services,services,course,...,1,0,2,4,5,3,4,2,3,16
392,0,21,0,0,1,1,1,other,other,course,...,0,0,5,5,3,3,3,3,3,7
393,0,18,0,1,1,3,2,services,other,course,...,1,0,4,4,1,3,4,5,0,10
394,0,19,1,1,1,1,1,other,at_home,course,...,1,0,3,2,3,3,3,5,5,9

### Convert nominal attributes to numerical attributes

In [48]:
categories = {
    'Mjob': ['teacher', 'health', 'services', 'at_home', 'other'],
    'Fjob': ['teacher', 'health', 'services', 'at_home', 'other'],
    'reason': ['home', 'reputation', 'course', 'other'],
    'guardian': ['mother', 'father', 'other'],
}

for category in categories:
    values = categories[category]
    df[category] = df[category].map(values.index)

df

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3
0,1,18,1,0,0,4,4,3,0,2,...,0,0,4,3,4,1,1,3,6,6
1,1,17,1,0,1,1,1,3,4,2,...,1,0,5,3,3,1,1,3,4,6
2,1,15,1,1,1,1,1,3,4,3,...,1,0,4,3,2,2,3,3,10,10
3,1,15,1,0,1,4,2,1,2,0,...,1,1,3,2,2,1,1,5,2,15
4,1,16,1,0,1,3,3,4,4,0,...,0,0,4,3,2,1,2,5,4,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,0,20,1,1,0,2,2,2,2,2,...,0,0,5,5,4,4,5,4,11,9
391,0,17,1,1,1,3,1,2,2,2,...,1,0,2,4,5,3,4,2,3,16
392,0,21,0,0,1,1,1,4,4,2,...,0,0,5,5,3,3,3,3,3,7
393,0,18,0,1,1,3,2,2,4,2,...,1,0,4,4,1,3,4,5,0,10
394,0,19,1,1,1,1,1,4,3,2,...,1,0,3,2,3,3,3,5,5,9

### Create the prediction column

In [49]:
df['qual_student'] = np.where(df['G3'] >= 15, 1, 0)
df.drop(columns=['G3'], inplace=True)

df

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,qual_student
0,1,18,1,0,0,4,4,3,0,2,...,0,0,4,3,4,1,1,3,6,0
1,1,17,1,0,1,1,1,3,4,2,...,1,0,5,3,3,1,1,3,4,0
2,1,15,1,1,1,1,1,3,4,3,...,1,0,4,3,2,2,3,3,10,0
3,1,15,1,0,1,4,2,1,2,0,...,1,1,3,2,2,1,1,5,2,1
4,1,16,1,0,1,3,3,4,4,0,...,0,0,4,3,2,1,2,5,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,0,20,1,1,0,2,2,2,2,2,...,0,0,5,5,4,4,5,4,11,0
391,0,17,1,1,1,3,1,2,2,2,...,1,0,2,4,5,3,4,2,3,1
392,0,21,0,0,1,1,1,4,4,2,...,0,0,5,5,3,3,3,3,3,0
393,0,18,0,1,1,3,2,2,4,2,...,1,0,4,4,1,3,4,5,0,0
394,0,19,1,1,1,1,1,4,3,2,...,1,0,3,2,3,3,3,5,5,0

## Training the model
### Create train/test sets

In [50]:
import sklearn
import sklearn.model_selection

dependent_variable = 'qual_student'
x = df[df.columns.difference([dependent_variable])]
y = df[dependent_variable]

X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y, random_state=1)

In [51]:
import autosklearn.classification
import sklearn.datasets
import sklearn.metrics

# Total time spent on training models
total_time_sec = 60 * 60

# Maximum time for some model
time_per_job_sec = 30

# Number of parallel jobs
n_jobs = 7

automl = autosklearn.classification.AutoSklearnClassifier(time_left_for_this_task=total_time_sec, per_run_time_limit=time_per_job_sec, n_jobs=n_jobs)
automl.fit(X_train, y_train)

[WARNING] [2022-11-06 17:28:49,740:Client-EnsembleBuilder] No models better than random - using Dummy losses!
	Models besides current dummy model: 0
	Dummy models: 1
[WARNING] [2022-11-06 17:28:50,382:Client-EnsembleBuilder] No runs were available to build an ensemble from
[WARNING] [2022-11-06 17:28:56,142:Client-EnsembleBuilder] No models better than random - using Dummy losses!
	Models besides current dummy model: 0
	Dummy models: 1
[WARNING] [2022-11-06 17:28:58,929:Client-EnsembleBuilder] No models better than random - using Dummy losses!
	Models besides current dummy model: 0
	Dummy models: 1
[WARNING] [2022-11-06 17:29:03,275:Client-EnsembleBuilder] No models better than random - using Dummy losses!
	Models besides current dummy model: 0
	Dummy models: 1
[WARNING] [2022-11-06 17:29:07,653:Client-EnsembleBuilder] No models better than random - using Dummy losses!
	Models besides current dummy model: 0
	Dummy models: 1
[WARNING] [2022-11-06 17:29:10,676:Client-EnsembleBuilder] No models better than random - using Dummy losses!
	Models besides current dummy model: 0
	Dummy models: 1
[WARNING] [2022-11-06 17:29:12,131:Client-EnsembleBuilder] No models better than random - using Dummy losses!
	Models besides current dummy model: 0
	Dummy models: 1
[WARNING] [2022-11-06 17:29:13,584:Client-EnsembleBuilder] No models better than random - using Dummy losses!
	Models besides current dummy model: 0
	Dummy models: 1

AutoSklearnClassifier(ensemble_class=<class 'autosklearn.ensembles.ensemble_selection.EnsembleSelection'>,
                      n_jobs=7, per_run_time_limit=30)

## Test the model accuracy

In [52]:
print(automl.leaderboard())

          rank  ensemble_weight           type      cost   duration
model_id
54           1             0.42  decision_tree  0.183673   5.269463
181          2             0.02            mlp  0.183673   6.047660
10           3             0.28            mlp  0.193878  25.193798
26           4             0.10  random_forest  0.193878  15.498308
105          5             0.04            mlp  0.193878  18.993294
164          6             0.12            mlp  0.193878  17.878329
178          7             0.02  liblinear_svc  0.193878   5.784644

In [53]:
print(automl.show_models())

{10: {'model_id': 10, 'rank': 1, 'cost': 0.19387755102040816, 'ensemble_weight': 0.28, 'data_preprocessor': <autosklearn.pipeline.components.data_preprocessing.DataPreprocessorChoice object at 0x4170e5c370>, 'balancing': Balancing(random_state=1), 'feature_preprocessor': <autosklearn.pipeline.components.feature_preprocessing.FeaturePreprocessorChoice object at 0x41b1a9c460>, 'classifier': <autosklearn.pipeline.components.classification.ClassifierChoice object at 0x4133429fd0>, 'sklearn_classifier': MLPClassifier(activation='tanh', alpha=0.0001363185819149026, beta_1=0.999,
              beta_2=0.9, early_stopping=True,
              hidden_layer_sizes=(115, 115, 115),
              learning_rate_init=0.00018009776276177523, max_iter=64,
              n_iter_no_change=32, random_state=1, verbose=0, warm_start=True)}, 26: {'model_id': 26, 'rank': 2, 'cost': 0.19387755102040816, 'ensemble_weight': 0.1, 'data_preprocessor': <autosklearn.pipeline.components.data_preprocessing.DataPreprocessorChoice object at 0x415672ca30>, 'balancing': Balancing(random_state=1), 'feature_preprocessor': <autosklearn.pipeline.components.feature_preprocessing.FeaturePreprocessorChoice object at 0x4167b151f0>, 'classifier': <autosklearn.pipeline.components.classification.ClassifierChoice object at 0x4167b153a0>, 'sklearn_classifier': RandomForestClassifier(bootstrap=False, max_features=5, min_samples_leaf=4,
                       min_samples_split=20, n_estimators=512, n_jobs=1,
                       random_state=1, warm_start=True)}, 54: {'model_id': 54, 'rank': 3, 'cost': 0.18367346938775508, 'ensemble_weight': 0.42, 'data_preprocessor': <autosklearn.pipeline.components.data_preprocessing.DataPreprocessorChoice object at 0x41c3cb8af0>, 'balancing': Balancing(random_state=1), 'feature_preprocessor': <autosklearn.pipeline.components.feature_preprocessing.FeaturePreprocessorChoice object at 0x41b10e6070>, 'classifier': <autosklearn.pipeline.components.classification.ClassifierChoice object at 0x41b1e3dd90>, 'sklearn_classifier': DecisionTreeClassifier(criterion='entropy', max_depth=29, min_samples_leaf=19,
                       min_samples_split=9, random_state=1)}, 105: {'model_id': 105, 'rank': 4, 'cost': 0.19387755102040816, 'ensemble_weight': 0.04, 'data_preprocessor': <autosklearn.pipeline.components.data_preprocessing.DataPreprocessorChoice object at 0x4129e600d0>, 'balancing': Balancing(random_state=1), 'feature_preprocessor': <autosklearn.pipeline.components.feature_preprocessing.FeaturePreprocessorChoice object at 0x417036bd30>, 'classifier': <autosklearn.pipeline.components.classification.ClassifierChoice object at 0x417036b4f0>, 'sklearn_classifier': MLPClassifier(alpha=5.6887157296879365e-05, beta_1=0.999, beta_2=0.9,
              early_stopping=True, hidden_layer_sizes=(155, 155, 155),
              learning_rate_init=0.00026516959460392577, max_iter=32,
              n_iter_no_change=32, random_state=1, verbose=0, warm_start=True)}, 164: {'model_id': 164, 'rank': 5, 'cost': 0.19387755102040816, 'ensemble_weight': 0.12, 'data_preprocessor': <autosklearn.pipeline.components.data_preprocessing.DataPreprocessorChoice object at 0x41706a20a0>, 'balancing': Balancing(random_state=1), 'feature_preprocessor': <autosklearn.pipeline.components.feature_preprocessing.FeaturePreprocessorChoice object at 0x41c9284e80>, 'classifier': <autosklearn.pipeline.components.classification.ClassifierChoice object at 0x41c9284be0>, 'sklearn_classifier': MLPClassifier(alpha=0.004559251361991539, beta_1=0.999, beta_2=0.9,
              hidden_layer_sizes=(134,),
              learning_rate_init=0.0002649035209926088, max_iter=256,
              n_iter_no_change=32, random_state=1, validation_fraction=0.0,
              verbose=0, warm_start=True)}, 178: {'model_id': 178, 'rank': 6, 'cost': 0.19387755102040816, 'ensemble_weight': 0.02, 'data_preprocessor': <autosklearn.pipeline.components.data_preprocessing.DataPreprocessorChoice object at 0x41703607f0>, 'balancing': Balancing(random_state=1), 'feature_preprocessor': <autosklearn.pipeline.components.feature_preprocessing.FeaturePreprocessorChoice object at 0x41f40ad670>, 'classifier': <autosklearn.pipeline.components.classification.ClassifierChoice object at 0x41f40ad970>, 'sklearn_classifier': LinearSVC(C=8401.827921633001, dual=False, intercept_scaling=1.0,
          random_state=1, tol=0.010262787674309246)}, 181: {'model_id': 181, 'rank': 7, 'cost': 0.18367346938775508, 'ensemble_weight': 0.02, 'data_preprocessor': <autosklearn.pipeline.components.data_preprocessing.DataPreprocessorChoice object at 0x415f0b6370>, 'balancing': Balancing(random_state=1), 'feature_preprocessor': <autosklearn.pipeline.components.feature_preprocessing.FeaturePreprocessorChoice object at 0x415f07d4f0>, 'classifier': <autosklearn.pipeline.components.classification.ClassifierChoice object at 0x4133421a00>, 'sklearn_classifier': MLPClassifier(activation='tanh', alpha=2.022328452581057e-07, beta_1=0.999,
              beta_2=0.9, hidden_layer_sizes=(35,),
              learning_rate_init=0.1029067979794692, max_iter=64,
              n_iter_no_change=32, random_state=1, validation_fraction=0.0,
              verbose=0, warm_start=True)}}

In [54]:
y_hat = automl.predict(X_test)
print("Accuracy score", sklearn.metrics.accuracy_score(y_test, y_hat))

Accuracy score 0.8181818181818182

## Exporting the model

In [55]:
import joblib
joblib.dump(automl, 'app/handlers/model.pkl')

['app/handlers/model.pkl']