# Creating the ML Model for CMU’s admission system

## Load the data

In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv('hw4-final-impl/data/student-mat.csv', sep=';')
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

## Preprocess the data
### Remove unneeded attributes

In [4]:
# We chose to remove all attributtes not relevant to the CMU setting.
# `school` is specific to the source data set, and the grades are also
# not relevant (we keep the last grade to know the expected prediction value)
df.drop(columns=['school', 'G1', 'G2'], inplace=True)
df

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3
0,F,18,U,GT3,A,4,4,at_home,teacher,course,...,no,no,4,3,4,1,1,3,6,6
1,F,17,U,GT3,T,1,1,at_home,other,course,...,yes,no,5,3,3,1,1,3,4,6
2,F,15,U,LE3,T,1,1,at_home,other,other,...,yes,no,4,3,2,2,3,3,10,10
3,F,15,U,GT3,T,4,2,health,services,home,...,yes,yes,3,2,2,1,1,5,2,15
4,F,16,U,GT3,T,3,3,other,other,home,...,no,no,4,3,2,1,2,5,4,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,M,20,U,LE3,A,2,2,services,services,course,...,no,no,5,5,4,4,5,4,11,9
391,M,17,U,LE3,T,3,1,services,services,course,...,yes,no,2,4,5,3,4,2,3,16
392,M,21,R,GT3,T,1,1,other,other,course,...,no,no,5,5,3,3,3,3,3,7
393,M,18,R,LE3,T,3,2,services,other,course,...,yes,no,4,4,1,3,4,5,0,10
394,M,19,U,LE3,T,1,1,other,at_home,course,...,yes,no,3,2,3,3,3,5,5,9

### Convert binary attributes to numerical attributes

In [5]:
df['sex'] = np.where(df['sex'] == 'F', 1, 0)
df['address'] = np.where(df['address'] == 'U', 1, 0)
df['famsize'] = np.where(df['famsize'] == 'LE3', 1, 0)
df['Pstatus'] = np.where(df['Pstatus'] == 'T', 1, 0)

for binary_attribute in ['schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic']:
    df[binary_attribute] = np.where(df[binary_attribute] == 'yes', 1, 0)

df

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3
0,1,18,1,0,0,4,4,at_home,teacher,course,...,0,0,4,3,4,1,1,3,6,6
1,1,17,1,0,1,1,1,at_home,other,course,...,1,0,5,3,3,1,1,3,4,6
2,1,15,1,1,1,1,1,at_home,other,other,...,1,0,4,3,2,2,3,3,10,10
3,1,15,1,0,1,4,2,health,services,home,...,1,1,3,2,2,1,1,5,2,15
4,1,16,1,0,1,3,3,other,other,home,...,0,0,4,3,2,1,2,5,4,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,0,20,1,1,0,2,2,services,services,course,...,0,0,5,5,4,4,5,4,11,9
391,0,17,1,1,1,3,1,services,services,course,...,1,0,2,4,5,3,4,2,3,16
392,0,21,0,0,1,1,1,other,other,course,...,0,0,5,5,3,3,3,3,3,7
393,0,18,0,1,1,3,2,services,other,course,...,1,0,4,4,1,3,4,5,0,10
394,0,19,1,1,1,1,1,other,at_home,course,...,1,0,3,2,3,3,3,5,5,9

### Convert nominal attributes to numerical attributes

In [6]:
categories = {
    'Mjob': ['teacher', 'health', 'services', 'at_home', 'other'],
    'Fjob': ['teacher', 'health', 'services', 'at_home', 'other'],
    'reason': ['home', 'reputation', 'course', 'other'],
    'guardian': ['mother', 'father', 'other'],
}

for category in categories:
    values = categories[category]
    df[category] = df[category].map(values.index)

df

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3
0,1,18,1,0,0,4,4,3,0,2,...,0,0,4,3,4,1,1,3,6,6
1,1,17,1,0,1,1,1,3,4,2,...,1,0,5,3,3,1,1,3,4,6
2,1,15,1,1,1,1,1,3,4,3,...,1,0,4,3,2,2,3,3,10,10
3,1,15,1,0,1,4,2,1,2,0,...,1,1,3,2,2,1,1,5,2,15
4,1,16,1,0,1,3,3,4,4,0,...,0,0,4,3,2,1,2,5,4,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,0,20,1,1,0,2,2,2,2,2,...,0,0,5,5,4,4,5,4,11,9
391,0,17,1,1,1,3,1,2,2,2,...,1,0,2,4,5,3,4,2,3,16
392,0,21,0,0,1,1,1,4,4,2,...,0,0,5,5,3,3,3,3,3,7
393,0,18,0,1,1,3,2,2,4,2,...,1,0,4,4,1,3,4,5,0,10
394,0,19,1,1,1,1,1,4,3,2,...,1,0,3,2,3,3,3,5,5,9

### Create the prediction column

In [7]:
df['qual_student'] = np.where(df['G3'] >= 15, 1, 0)
df.drop(columns=['G3'], inplace=True)

df

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,qual_student
0,1,18,1,0,0,4,4,3,0,2,...,0,0,4,3,4,1,1,3,6,0
1,1,17,1,0,1,1,1,3,4,2,...,1,0,5,3,3,1,1,3,4,0
2,1,15,1,1,1,1,1,3,4,3,...,1,0,4,3,2,2,3,3,10,0
3,1,15,1,0,1,4,2,1,2,0,...,1,1,3,2,2,1,1,5,2,1
4,1,16,1,0,1,3,3,4,4,0,...,0,0,4,3,2,1,2,5,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,0,20,1,1,0,2,2,2,2,2,...,0,0,5,5,4,4,5,4,11,0
391,0,17,1,1,1,3,1,2,2,2,...,1,0,2,4,5,3,4,2,3,1
392,0,21,0,0,1,1,1,4,4,2,...,0,0,5,5,3,3,3,3,3,0
393,0,18,0,1,1,3,2,2,4,2,...,1,0,4,4,1,3,4,5,0,0
394,0,19,1,1,1,1,1,4,3,2,...,1,0,3,2,3,3,3,5,5,0

## Training the model
### Create train/test sets

In [8]:
import sklearn
import sklearn.model_selection

dependent_variable = 'qual_student'
x = df[df.columns.difference([dependent_variable])]
y = df[dependent_variable]

X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y, random_state=1)

In [9]:
import autosklearn.classification
import sklearn.datasets
import sklearn.metrics

# Total time spent on training models
total_time_sec = 60 * 60 * 2

# Maximum time for some model
time_per_job_sec = 30

# Number of parallel jobs
n_jobs = 7

automl = autosklearn.classification.AutoSklearnClassifier(time_left_for_this_task=total_time_sec, per_run_time_limit=time_per_job_sec, n_jobs=n_jobs)
automl.fit(X_train, y_train)

<jemalloc>: MADV_DONTNEED does not work (memset will be used instead)
<jemalloc>: (This is the expected behaviour if you are running under QEMU)

[WARNING] [2022-11-08 19:28:42,808:Client-EnsembleBuilder] No models better than random - using Dummy losses!
	Models besides current dummy model: 0
	Dummy models: 1
[WARNING] [2022-11-08 19:28:43,407:Client-EnsembleBuilder] No models better than random - using Dummy losses!
	Models besides current dummy model: 0
	Dummy models: 1
[WARNING] [2022-11-08 19:28:43,956:Client-EnsembleBuilder] No models better than random - using Dummy losses!
	Models besides current dummy model: 0
	Dummy models: 1
[WARNING] [2022-11-08 19:28:44,747:Client-EnsembleBuilder] No models better than random - using Dummy losses!
	Models besides current dummy model: 0
	Dummy models: 1
[WARNING] [2022-11-08 19:28:50,341:Client-EnsembleBuilder] No models better than random - using Dummy losses!
	Models besides current dummy model: 0
	Dummy models: 1
[WARNING] [2022-11-08 19:28:52,558:Client-EnsembleBuilder] No models better than random - using Dummy losses!
	Models besides current dummy model: 0
	Dummy models: 1
[WARNING] [2022-11-08 19:28:56,291:Client-EnsembleBuilder] No models better than random - using Dummy losses!
	Models besides current dummy model: 0
	Dummy models: 1
[WARNING] [2022-11-08 19:29:02,159:Client-EnsembleBuilder] No models better than random - using Dummy losses!
	Models besides current dummy model: 0
	Dummy models: 1
[WARNING] [2022-11-08 19:29:03,826:Client-EnsembleBuilder] No models better than random - using Dummy losses!
	Models besides current dummy model: 0
	Dummy models: 1
[WARNING] [2022-11-08 19:29:06,812:Client-EnsembleBuilder] No models better than random - using Dummy losses!
	Models besides current dummy model: 0
	Dummy models: 1
[WARNING] [2022-11-08 19:29:10,128:Client-EnsembleBuilder] No models better than random - using Dummy losses!
	Models besides current dummy model: 0
	Dummy models: 1

AutoSklearnClassifier(ensemble_class=<class 'autosklearn.ensembles.ensemble_selection.EnsembleSelection'>,
                      n_jobs=7, per_run_time_limit=30,
                      time_left_for_this_task=7200)

## Test the model accuracy

In [10]:
print(automl.leaderboard())

          rank  ensemble_weight                 type      cost   duration
model_id
54           1             0.10        decision_tree  0.183673   5.577566
363          2             0.16                  mlp  0.183673  12.210752
10           3             0.18                  mlp  0.193878  26.871432
26           4             0.06        random_forest  0.193878  14.464650
174          5             0.04         bernoulli_nb  0.193878   4.728273
186          6             0.04                  mlp  0.193878  20.633249
219          7             0.08    gradient_boosting  0.193878   9.131530
223          8             0.16         bernoulli_nb  0.193878   5.728768
298          9             0.06                  lda  0.193878   5.714718
318         10             0.04         bernoulli_nb  0.193878   5.633287
355         11             0.06  k_nearest_neighbors  0.193878   6.235103
361         12             0.02                  mlp  0.193878   8.630220

In [11]:
print(automl.show_models())

{10: {'model_id': 10, 'rank': 1, 'cost': 0.19387755102040816, 'ensemble_weight': 0.18, 'data_preprocessor': <autosklearn.pipeline.components.data_preprocessing.DataPreprocessorChoice object at 0x40ab7f72b0>, 'balancing': Balancing(random_state=1), 'feature_preprocessor': <autosklearn.pipeline.components.feature_preprocessing.FeaturePreprocessorChoice object at 0x40aa71e790>, 'classifier': <autosklearn.pipeline.components.classification.ClassifierChoice object at 0x40f2573e50>, 'sklearn_classifier': MLPClassifier(activation='tanh', alpha=0.0001363185819149026, beta_1=0.999,
              beta_2=0.9, early_stopping=True,
              hidden_layer_sizes=(115, 115, 115),
              learning_rate_init=0.00018009776276177523, max_iter=64,
              n_iter_no_change=32, random_state=1, verbose=0, warm_start=True)}, 26: {'model_id': 26, 'rank': 2, 'cost': 0.19387755102040816, 'ensemble_weight': 0.06, 'data_preprocessor': <autosklearn.pipeline.components.data_preprocessing.DataPreprocessorChoice object at 0x40ec9e91c0>, 'balancing': Balancing(random_state=1), 'feature_preprocessor': <autosklearn.pipeline.components.feature_preprocessing.FeaturePreprocessorChoice object at 0x40ef6b9700>, 'classifier': <autosklearn.pipeline.components.classification.ClassifierChoice object at 0x40ecc6fb50>, 'sklearn_classifier': RandomForestClassifier(bootstrap=False, max_features=5, min_samples_leaf=4,
                       min_samples_split=20, n_estimators=512, n_jobs=1,
                       random_state=1, warm_start=True)}, 54: {'model_id': 54, 'rank': 3, 'cost': 0.18367346938775508, 'ensemble_weight': 0.1, 'data_preprocessor': <autosklearn.pipeline.components.data_preprocessing.DataPreprocessorChoice object at 0x40aa71e370>, 'balancing': Balancing(random_state=1), 'feature_preprocessor': <autosklearn.pipeline.components.feature_preprocessing.FeaturePreprocessorChoice object at 0x40ee800e80>, 'classifier': <autosklearn.pipeline.components.classification.ClassifierChoice object at 0x40cd0cea00>, 'sklearn_classifier': DecisionTreeClassifier(criterion='entropy', max_depth=29, min_samples_leaf=19,
                       min_samples_split=9, random_state=1)}, 174: {'model_id': 174, 'rank': 4, 'cost': 0.19387755102040816, 'ensemble_weight': 0.04, 'data_preprocessor': <autosklearn.pipeline.components.data_preprocessing.DataPreprocessorChoice object at 0x40ee4b0160>, 'balancing': Balancing(random_state=1), 'feature_preprocessor': <autosklearn.pipeline.components.feature_preprocessing.FeaturePreprocessorChoice object at 0x40f45f44f0>, 'classifier': <autosklearn.pipeline.components.classification.ClassifierChoice object at 0x40f30dc6d0>, 'sklearn_classifier': BernoulliNB(alpha=0.09387741329860848)}, 186: {'model_id': 186, 'rank': 5, 'cost': 0.19387755102040816, 'ensemble_weight': 0.04, 'data_preprocessor': <autosklearn.pipeline.components.data_preprocessing.DataPreprocessorChoice object at 0x40f420c220>, 'balancing': Balancing(random_state=1), 'feature_preprocessor': <autosklearn.pipeline.components.feature_preprocessing.FeaturePreprocessorChoice object at 0x40fcd145e0>, 'classifier': <autosklearn.pipeline.components.classification.ClassifierChoice object at 0x40fcd14eb0>, 'sklearn_classifier': MLPClassifier(activation='tanh', alpha=0.00013321215332085085, beta_1=0.999,
              beta_2=0.9, early_stopping=True, hidden_layer_sizes=(182, 182),
              learning_rate_init=0.0009384632952828074, max_iter=64,
              n_iter_no_change=32, random_state=1, verbose=0, warm_start=True)}, 219: {'model_id': 219, 'rank': 6, 'cost': 0.19387755102040816, 'ensemble_weight': 0.08, 'data_preprocessor': <autosklearn.pipeline.components.data_preprocessing.DataPreprocessorChoice object at 0x40f33e37c0>, 'balancing': Balancing(random_state=1, strategy='weighting'), 'feature_preprocessor': <autosklearn.pipeline.components.feature_preprocessing.FeaturePreprocessorChoice object at 0x40f447fac0>, 'classifier': <autosklearn.pipeline.components.classification.ClassifierChoice object at 0x40f3a469d0>, 'sklearn_classifier': HistGradientBoostingClassifier(early_stopping=False,
                               l2_regularization=5.30865303431932e-10,
                               learning_rate=0.32042541266468605, max_iter=512,
                               max_leaf_nodes=147, min_samples_leaf=35,
                               n_iter_no_change=0, random_state=1,
                               validation_fraction=None, warm_start=True)}, 223: {'model_id': 223, 'rank': 7, 'cost': 0.19387755102040816, 'ensemble_weight': 0.16, 'data_preprocessor': <autosklearn.pipeline.components.data_preprocessing.DataPreprocessorChoice object at 0x40ed735280>, 'balancing': Balancing(random_state=1), 'feature_preprocessor': <autosklearn.pipeline.components.feature_preprocessing.FeaturePreprocessorChoice object at 0x41948c0220>, 'classifier': <autosklearn.pipeline.components.classification.ClassifierChoice object at 0x41948c03d0>, 'sklearn_classifier': BernoulliNB(alpha=0.1335092420379087)}, 298: {'model_id': 298, 'rank': 8, 'cost': 0.19387755102040816, 'ensemble_weight': 0.06, 'data_preprocessor': <autosklearn.pipeline.components.data_preprocessing.DataPreprocessorChoice object at 0x40cd030370>, 'balancing': Balancing(random_state=1, strategy='weighting'), 'feature_preprocessor': <autosklearn.pipeline.components.feature_preprocessing.FeaturePreprocessorChoice object at 0x41948f35b0>, 'classifier': <autosklearn.pipeline.components.classification.ClassifierChoice object at 0x41948f3a00>, 'sklearn_classifier': LinearDiscriminantAnalysis(shrinkage=0.5061666009678158, solver='lsqr',
                           tol=0.04269270520925898)}, 318: {'model_id': 318, 'rank': 9, 'cost': 0.19387755102040816, 'ensemble_weight': 0.04, 'data_preprocessor': <autosklearn.pipeline.components.data_preprocessing.DataPreprocessorChoice object at 0x40ab96e1f0>, 'balancing': Balancing(random_state=1), 'feature_preprocessor': <autosklearn.pipeline.components.feature_preprocessing.FeaturePreprocessorChoice object at 0x4194a2fb80>, 'classifier': <autosklearn.pipeline.components.classification.ClassifierChoice object at 0x4194a2fd60>, 'sklearn_classifier': BernoulliNB(alpha=11.001332194170379)}, 355: {'model_id': 355, 'rank': 10, 'cost': 0.19387755102040816, 'ensemble_weight': 0.06, 'data_preprocessor': <autosklearn.pipeline.components.data_preprocessing.DataPreprocessorChoice object at 0x41948c0af0>, 'balancing': Balancing(random_state=1), 'feature_preprocessor': <autosklearn.pipeline.components.feature_preprocessing.FeaturePreprocessorChoice object at 0x4194b09250>, 'classifier': <autosklearn.pipeline.components.classification.ClassifierChoice object at 0x4194b48160>, 'sklearn_classifier': KNeighborsClassifier(n_neighbors=27, p=1, weights='distance')}, 361: {'model_id': 361, 'rank': 11, 'cost': 0.19387755102040816, 'ensemble_weight': 0.02, 'data_preprocessor': <autosklearn.pipeline.components.data_preprocessing.DataPreprocessorChoice object at 0x419494ffa0>, 'balancing': Balancing(random_state=1), 'feature_preprocessor': <autosklearn.pipeline.components.feature_preprocessing.FeaturePreprocessorChoice object at 0x413d410b20>, 'classifier': <autosklearn.pipeline.components.classification.ClassifierChoice object at 0x413d410e80>, 'sklearn_classifier': MLPClassifier(alpha=0.00013998278167803648, beta_1=0.999, beta_2=0.9,
              early_stopping=True, hidden_layer_sizes=(184,),
              learning_rate_init=0.00037398896768130256, max_iter=64,
              n_iter_no_change=32, random_state=1, verbose=0, warm_start=True)}, 363: {'model_id': 363, 'rank': 12, 'cost': 0.18367346938775508, 'ensemble_weight': 0.16, 'data_preprocessor': <autosklearn.pipeline.components.data_preprocessing.DataPreprocessorChoice object at 0x4194a3b7c0>, 'balancing': Balancing(random_state=1), 'feature_preprocessor': <autosklearn.pipeline.components.feature_preprocessing.FeaturePreprocessorChoice object at 0x40fd4f6670>, 'classifier': <autosklearn.pipeline.components.classification.ClassifierChoice object at 0x40fd4f6790>, 'sklearn_classifier': MLPClassifier(activation='tanh', alpha=0.0001390418973508829, beta_1=0.999,
              beta_2=0.9, early_stopping=True,
              hidden_layer_sizes=(110, 110, 110),
              learning_rate_init=0.0008045100907933385, max_iter=32,
              n_iter_no_change=32, random_state=1, verbose=0, warm_start=True)}}

In [12]:
y_hat = automl.predict(X_test)
print("Accuracy score", sklearn.metrics.accuracy_score(y_test, y_hat))

Accuracy score 0.8484848484848485

In [19]:
sklearn.metrics.f1_score(y_test, y_hat, average='binary')

0.0

## Exporting the model

In [16]:
import joblib
joblib.dump(automl, 'hw4-final-impl/app/handlers/model2.pkl')

['hw4-final-impl/app/handlers/model2.pkl']